In [7]:
import os
import sys

import pandas as pd

from datetime import datetime

clidata_script_path = "C:/Users/davis.pazars/Documents/orkans/etc"
sys.path.append(clidata_script_path)

import clidata

In [4]:
query = """
    select eg_gh_id, ddmmyyyy, time, value
    from v_day
    where
        eg_gh_id like 'XZV%'
        and eg_el_abbreviation = 'HPRAB'
        and year >= 2021
"""

data = clidata.clidata_query(query)

data.head()

   EG_GH_ID   DDMMYYYY   TIME  VALUE
0  XZVOLSUD 2023-01-01  23:00    0.0
1  XZVOLSUD 2023-01-02  23:00    0.0
2  XZVOLSUD 2023-01-03  23:00    0.0
3  XZVOLSUD 2023-01-04  23:00    1.0
4  XZVOLSUD 2023-01-05  23:00    0.0

In [5]:
data.shape

(82432, 4)

In [6]:
data.dtypes

EG_GH_ID            object
DDMMYYYY    datetime64[ns]
TIME                object
VALUE              float64
dtype: object

In [32]:
datetime_str = data["DDMMYYYY"].dt.strftime("%Y-%m-%d") + " " + data["TIME"]
data["datetime"] = pd.to_datetime(datetime_str)

data.head()

   EG_GH_ID   DDMMYYYY   TIME  VALUE            datetime
0  XZVOLSUD 2023-01-01  23:00    0.0 2023-01-01 23:00:00
1  XZVOLSUD 2023-01-02  23:00    0.0 2023-01-02 23:00:00
2  XZVOLSUD 2023-01-03  23:00    0.0 2023-01-03 23:00:00
3  XZVOLSUD 2023-01-04  23:00    1.0 2023-01-04 23:00:00
4  XZVOLSUD 2023-01-05  23:00    0.0 2023-01-05 23:00:00

In [31]:
data["datetime"].isnull().sum()

0

In [37]:
data.sort_values(
    by=["EG_GH_ID", "datetime"], ascending=[True, True]
).head().reset_index(drop=True)

   EG_GH_ID   DDMMYYYY   TIME  VALUE            datetime
0  XZVFRSND 2022-02-01  05:00    NaN 2022-02-01 05:00:00
1  XZVFRSND 2022-02-01  11:00    NaN 2022-02-01 11:00:00
2  XZVFRSND 2022-02-01  17:00    NaN 2022-02-01 17:00:00
3  XZVFRSND 2022-02-01  23:00    NaN 2022-02-01 23:00:00
4  XZVFRSND 2022-02-02  05:00    NaN 2022-02-02 05:00:00

In [23]:
data.rolling(2, on="datetime")

Rolling [window=2,center=False,axis=0,on=datetime,method=single]